.cell {
  width: 25px;
  height: 25px;
  padding: 5px;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 0 - 29 */
.grass {
  background-color: rgb(73, 212, 73);
  color: rgb(20, 87, 20);
}

/* 30 - 59 */
.hill {
  background-color: rgb(26, 131, 26);
  color: rgb(3, 41, 3);
}

/* 60 - 99 */
.mountain {
  background-color: rgb(133, 110, 10);
  color: rgb(54, 46, 12);
}

/* -1 */
.water {
  background-color: rgb(51, 165, 194);
  color: rgb(15, 76, 92);
  animation-name: waterTransition;
  animation-duration: 2s;
  position: absolute;
}

.blank {
  position: absolute;
}

@keyframes waterTransition {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
