.bar {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: space-evenly;
}

button {
  background-color: #b47a38;
  padding: 10px;
  border-radius: 2px;
  border: none;
  box-shadow: 1px 1px 2px;
  cursor: pointer;
  height: 40px;
  /* margin: 0px 15px; */
}
